---
import Video from "../../components/Video.astro";
import Layout from "../../layouts/Layout.astro";
import { getDirectusClient } from "../../utils/getDirectusClient";

const directus = await getDirectusClient();

const videos = await directus.singleton("videos").read({
  fields: [
    "id",
    "vr.video_links_id.*.*",
    "editing.video_links_id.*.*",
    "commercial.video_links_id.*.*",
  ],
});

console.log(
  "Videos",
  videos?.commercial[0].video_links_id.link.split("?")[0].split("/").at(-1)
);
---

<Layout title="Video">
  <div class="mx-4 md:mx-8">
    <h2 class="text-4xl font-bold text-center text-highlight my-4">
      Video Work
    </h2>
    <p class="text-lg text-center">
      All footage captured, produced and/or edited by Jose Castillo.
    </p>
    <div id="videos" class="mt-8">
      {
        videos?.vr && (
          <div id="vr" class="text-2xl text-center font-bold text-highlight">
            <h3>VR 360 Production</h3>
            <div class="flex flex-wrap gap-4 justify-center items-center mt-8">
              {videos.vr.map((vr) => {
                return (
                  <div class="rounded overflow-hidden">
                    <Video videoData={vr.video_links_id} />
                  </div>
                );
              })}
            </div>
          </div>
        )
      }
      {
        videos?.editing && (
          <div
            id="editing"
            class="text-2xl text-center font-bold text-highlight mt-8"
          >
            <h3>Video Editing</h3>
            <div class="flex flex-wrap gap-4 justify-center items-center mt-8">
              {videos.editing.map((edit) => {
                return (
                  <div class="rounded overflow-hidden">
                    <Video videoData={edit.video_links_id} />
                  </div>
                );
              })}
            </div>
          </div>
        )
      }
      {
        videos?.commercial && (
          <div
            id="commercial"
            class="text-2xl text-center font-bold text-highlight mt-8"
          >
            <h3>Original Commercial Productions</h3>
            <div class="flex flex-wrap gap-4 justify-center items-center mt-8">
              {videos.commercial.map((commercial: API_Video) => {
                return (
                  <div class="rounded overflow-hidden">
                    <Video videoData={commercial.video_links_id} />
                  </div>
                );
              })}
            </div>
          </div>
        )
      }
    </div>
  </div>
</Layout>
