---
import Layout from "@layouts/Layout.astro"
---

<Layout title="Portfolio">
  <div class="flex items-center justify-center">
    <a href="/about" title="About me">
      <img
        src="/Jose Alejandro_low res.png"
        class="max-h-[60vh] object-contain"
      />
    </a>
  </div>
</Layout>
