---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio">
  <div class="flex flex-col md:flex-row items-center justify-around">
    <div class="flex items-center basis-2/3 justify-center">
      <img
        src="Jose Alejandro_low res.png"
        class="max-h-[60vh] object-contain"
      />
    </div>
    <div class="flex justify-center basis-1/3 mt-8 md:mt-0">
      <button
        class="border-2 border-highlight text-highlight rounded px-6 py-2 hover:bg-white transition-colors overflow-hidden hover:shadow"
        ><a href="/about">About Me</a>
      </button>
    </div>
  </div>
</Layout>
