---
import ProjectCard from "../components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";
import { getDirectusClient } from "../utils/getDirectusClient";

const directus = await getDirectusClient();

const categories = (
  await directus.items("work_categories").readByQuery({
    fields: ["name", "slug", "image.*", "status"],
    filter: { status: "published" },
  })
)?.data;
---

<Layout title="Work">
  <div
    class="grid grid-cols-1 md:grid-cols-2 rounded overflow-hidden mx-4 md:mt-8"
  >
    {
      categories?.map((category) => {
        if (category)
          return <ProjectCard category={category as unknown as WorkCategory} />;
      })
    }
  </div>
</Layout>
