---
import { assetUrl } from "@lib/constants"

export interface Props {
	category: API_Work_Category
}
const { category } = Astro.props
---

<div class="group relative aspect-video">
	<img
		src={`${assetUrl}/${category.image?.filename_disk}`}
		alt={category.image?.title ?? ""}
		class="h-full w-full object-fill transition-all duration-500 group-hover:grayscale"
	/>
	<div
		class="absolute inset-0 z-10 bg-black bg-opacity-50 opacity-0 transition-all duration-500 group-hover:opacity-100"
	>
		<a href={`/work/${category.slug}`} class="flex h-full w-full items-center justify-center">
			<span
				class="-translate-y-4 text-center text-4xl text-white transition-all duration-500 group-hover:translate-y-0"
				>{category.name}</span
			>
		</a>
	</div>
</div>
