---
interface Props {
  videoData: API_Video_Link["video_links_id"]
}

const { videoData } = Astro.props
---

<div
  class="video-js w-full max-w-lg aspect-video md:min-h-[280px] rounded overflow-hidden"
>
  {
    (videoData?.provider?.value ?? "youtube") === "youtube" ? (
      <iframe
        src={`https://www.youtube.com/embed/${videoData.link?.split("=")[1]}`}
        class="w-full h-full"
      />
    ) : (
      <iframe
        allow="autoplay"
        src={`https://player.vimeo.com/video/${videoData.link?.split("?")[0]
          .split("/")
          .at(-1)}`}
        class="w-full h-full"
      />
    )
  }
</div>
